<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>New GUID</Title>
      <Shortcut>nguid</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal Editable="false">
          <ID>guid</ID>
          <Function>GUID()</Function>
          <Default>guid</Default>
        </Literal>
      </Declarations>
      <Code Language="CSharp"><![CDATA[$guid$$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>